/* Document level adjustments */
html {
  box-sizing: border-box;
  font-size: 17px;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  padding: 0 1rem;
  background-color: #fafafc;
  color: #2c3e50;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

h1 {
  margin: 0;
  font-size: 3rem;
}

h2 {
  margin: 0;
  font-size: 2.5rem;
}

h3 {
  margin: 0;
  font-size: 2rem;
  padding-bottom: 12px;
  border-bottom: 1px solid #ececec;
}

h4 {
  margin: 0;
  font-size: 1.5rem;
}

figure {
  margin: 0;
}

.dom-ready {
  opacity: 1;
  transition: opacity 0.5s;
  background: transparent;
}
